#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

* { 
	box-sizing: border-box;
}

.spinner {
  height: 650px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

