:root {
    --navbar-height: 60px;
    --navbar-height-extra: 70px;
}

.navbar {
    height: var(--navbar-height);
    border-bottom: 0.5px solid rgb(231,231,231);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    font-weight: bold;
    position: fixed !important;
    top: 0;
    margin-right: auto;
    width: 100vw;
    z-index: 999;
    background-color: white;
}

.navbar.dark {
    border: none;
    box-shadow: rgb(53 56 64) 0px 1px 0px 0px;
}

.wrapper{
    display: flex;
    align-items: center;
    width: 100%;
}

.items{
    display: flex;
    align-items: center;
    margin-right: 3vw;
    position: relative;
}

.item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor : pointer;
    font-weight: bold;
    font-size: 30px;

}
.item-left{
    margin-right: auto;
    margin-left: 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.item-left > * {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.logo {
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

.profileDrawer {
    position: absolute;
    height: auto;
    width: auto;
    color: white;
    top: var(--navbar-height-extra);
    right: 3vw;
    border-radius: 15px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.2),0px 16px 24px 2px rgba(0,0,0,0.14),0px 6px 30px 5px rgba(0,0,0,0.12);
    overflow-y: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    z-index: 1200;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    outline: 0;
}

.profileDrawer.dark{
    background-color: rgb(54, 58, 63);
}

.profileDrawer li:hover {
    box-shadow: 0 0px 6px 1px rgba(0,0,0,0.14);
}

.profileDrawer.dark li:hover {
    background-color: rgb(43, 45, 49);
}

.personalListItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-size: 20px;
    padding: 10px;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    cursor:pointer;
}

.personalListItem > :first-child{
    margin-right: 1vw;
}

@media screen and (max-width: 768px) {
    .navbar {
        width: 100vw;
        max-width: 100%;
    }
    .wrapper{
        justify-content: space-between;
    }
    .items{
        margin-right: 0;
        width: 100vw;
        max-width: 100%;
        padding-left: 10px;
        justify-content: right;
    }
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 25px 0;
    }
}