:root {
    --navbar-height: 60px;
    --navbar-height-extra: 70px;
}

.navbar {
    height: var(--navbar-height);
    border-bottom: 0.5px solid rgb(231,231,231);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    font-weight: bold;
    position: fixed !important;
    top: 0;
    margin-right: auto;
    width: 100vw;
    z-index: 999;
    background-color: white;
}

.navbar.dark {
    border: none;
    box-shadow: rgb(53 56 64) 0px 1px 0px 0px;
}

.wrapper{
    display: flex;
    align-items: center;
    width: 100%;
}

.items{
    display: flex;
    align-items: center;
    margin-right: 3vw;
    position: relative;
}

.item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor : pointer;
    font-weight: bold;
    font-size: 30px;
}

.item-left{
    margin-right: auto;
    margin-left: 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.item-left > * {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.logo {
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .navbar {
        width: 100vw;
        max-width: 100%;
    }
    .wrapper{
        justify-content: space-between;
    }
    .items{
        margin-right: 0;
        width: 100vw;
        max-width: 100%;
        padding-left: 10px;
        justify-content: right;
    }
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 25px 0;
    }
}